body {
    font-family: Arial, sans-serif;
    margin: 20px;
}

.container {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

input[type="text"]:focus {
    border: 1px solid gray;
    outline: 1px solid orange;
    box-shadow: 0px 0px 8px -2px orange;
}

.form-group {
    display: flex;
    align-items: flex-start;
    gap: 10px;
}



.form-group label {
    width: 100px;
    font-weight: bold;
    text-align: right;
}

.radio-group,
.checkbox-group {
    display: flex;
    gap: 0px;
}

input[type="radio"],
input[type="checkbox"] {
    appearance: none;
    border: 3px ridge white;
    background-color: white;
    outline: 2px solid rgba(0,0,0,0.2);
    outline-offset: -3px;
    outline-color: lightgray;
    width: 16px;
    height: 16px;
    cursor: pointer;
    box-shadow: inset 0 2px 4px rgba(0,0,0,0.4);
    position: relative;
}
input[type="radio"]:checked {
    background-color: rgb(93, 111, 160);
}

input[type="checkbox"]:checked::after {
    content: "✔";
    color: rgb(93, 111, 160); /*väri kopioitu ohjeen kuvasta*/
    font-size: 14px;
    font-weight: bold;
    position: absolute;
    top: -35%;
    pointer-events: none;
    
}
input[type="radio"] {
    border-radius: 50%;
}

.radio-group label,
.checkbox-group label {
    display: flex;
    align-items: left;
    margin-right: -30px;
}

.dropdown-menu {
    all: unset;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border: 1px solid darkgrey;
    overflow-y: auto;
    background: white;
}


.dropdown-button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 25px;
    height: 25px;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
    padding: 0;
    border: 1px solid darkgrey;
    background-color: lightgrey;
    box-shadow: inset 0px 0px 2px black,
    inset 0px 12px 8px rgba(255,255,255,0.8);
    margin-left: -1px;
}

.split-dropdown {
    position: relative;
    display: flex;
}
.split-dropdown.open .dropdown-menu {
    display: block;
}
.form-group textarea {
    flex: 1;
    min-width: 0;
    max-width: 300px;
    min-height: 100px;
}

input[type="submit"] {
    width: 75px;
    height: 25px;
    border: 0px;
    outline: 2px solid darkgrey;
    background-color: lightgrey;
    box-shadow: inset 0px 10px 5px rgba(255,255,255,0.8);
    font-size: 20px;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.2);
    text-align: center;
    cursor: pointer;
    margin-left: 80px;
    border-radius: 5%;
}

span[id$="Virheilmoitus"] {
    color: red;
    font-size: 12px;
    margin-left: 10px;
    display: inline-block;
}
span#tarkistus {
    font-size: 16px;
    font-weight: bold;
    margin-left: 20px;
    color: greenyellow;
}